<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" type="text/css" media="all" href="{stylesheet='entrance_group/main'}" />

    </head>
    <body>
        <h1 id="site-name">{site_name}</h1>

        <ul class="nav-bar">

            <li>Comics</li>
            <li>Store</li>
            <li>Code</li>
            <li>Sketches</li>
            <li>Blog</li>
            <li>Now</li>
        </ul>
        {exp:channel:entries channel="entrance" orderby="entry_date" sort="desc" limit="1"}
        <h2>{title}</h2>
        <p class="preamble">{body}</p>

        {exp:channel:entries}

       
        <h3>blog Entries will go here:</h3>

        {exp:channel:entries channel="blog2" orderby="entry_date" sort="desc" limit="10"}
            {!-- Whatever is in here will repeat for each entry --}
            {!-- Appears to be similar to a foreach --}
            <h2>{title}</h2>
        {excerpt}

        {/exp:channel:entries}
        
        <script src="" async defer></script>
    </body>
</html>