.whole-container{
width:80%;
margin-left: 10%;
margin-right: 10%;
}

.table{
    display:table;
    margin: 0 auto;
    float: right;
    width: 50%;
}
li {
    display: inline;
    padding: .8em;
    
}

li:hover{
    text-decoration: underline;
    /* background: black; */
    /* color: white; */
    font-stretch: bold;
}

#site-name a{
    color: black;
    text-decoration: none;
}

.nav-bar{
    list-style-type: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .9em;
    padding: 0em;
    float: right;
    /* display: inline; */
   



}

#site-name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.8em;
    width:50%;
    margin: 0em;
    float: left;
    /* padding: 10em; */

}
.title-area{
    width: 100%;
    height:5em;
    margin: 0em;
    border: 0;
    margin-top: 2em;
}

.preamble{
    font-size: 24px;
    /* display: block; */
    width: 100%;
    height: 100%;
}

.preamble-area{
width:100%;
display: inline-block;
}

.preamble-text{
    width: 40%;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    

}
.preamble-text a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-style: bold;
    color: cornflowerblue;
}

.preamble-text p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-style: bold;

}
.preamble-pic{
width: 40%;
float: right;

}
.preamble-pic img{
    float:right;
}

.post-amble{

}

.home-blog-container{
    width: 100%;
    font-size: .8em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-blog-container h3{
    width: 100%;
    font-size: 2em;
}

.home-blog-container a{
    color: black;
    text-decoration: none;
}
.home-blog-container a:hover{
    color: black;
    text-decoration: underline;
    
}

.footer{
    padding-top:1em;
    padding-bottom: 2em;
    width: 10em;
    margin: 0 auto;

}
